*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #252525;
    background-color: #F2FAFA;

} 
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
li{
    list-style: none    ;
}
.btn-primary{
    background-color: #1E88E5;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 7%;
  font-size: large;
}
/* nav */

.nav{
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1000px 200px;
}
.nav_menu{
    display: flex;
}
.nav__btn{
    display: flex;
    justify-content: flex-end;
}
.nav__menu_item{
    float:left;
    margin-right: 48px;
}
.nav__menu_active{
    color: #1E88E5;
}


/* header */

header{
    max-height: 800px;
}
.header__face{
    display: flex;
    justify-content: space-between;
}
.header__face_picture{
    max-height: 600px;
}
.header__face_text{
    margin-top: 100px;
}
.text__1{    
    font-size: 60px;
}

/* main */


.justten{
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;

}
.justten__frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
     
}
.justten__frame p{
    color: #9D9D9D;
} 
.form p{
    color: #9D9D9D;
}
.logo img{
    max-height: 100px;
}
.form{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-size:35px;
}
.form__input{
    width: 740px;
  margin: 8px 0;
  box-sizing: border-box;
  background-color: white;
  font-size: large;
}

.form__textarea{
  margin: 8px 0;
  box-sizing: border-box;
  background-color: white;
  font-size: large;
}